<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>PC Majster</title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
<div id="main">
    <div id="header">
        <div id="logo">
            <div id="logo_text">
                <!-- class="logo_colour", allows you to change the colour of the text -->
                <h1><a href="/index">PC<span class="logo_colour">Majster</span></a></h1>
                <h2>Z nami zlozysz komputer marzen</h2>
            </div>
        </div>
        <ul id="menu">
            <li> <a href="/cpu/list"> Procesory</a>
            </li>
            <li> <a href="/mobo/list"> Plyty Glowne</a>
            </li>
            <li> <a href="/ram/list"> RAM-y</a>
            </li>
            <li><a href="/gpu/list"> Karty Graficzne</a>
            </li>
            <li><a href="/zasilacz/list"> Zasilacze</a>
            </li>
            <li><a href="/dysk/list"> Dyski</a>
            </li>
            <li><a href="/naped/list"> Napedy Optyczne</a>
            </li>
            <li><a href="/obudowa/list"> Obudowy </a>
            </li>

            <th:block th:unless="${session.klientId!=null}">
                <li><a href="/rejestracja"> Rejestracja</a></li>
                <li> <a href="/logowanie"> Logowanie</a></li>
            </th:block>
            <li> <a href="/komputer/skladanie"> Twoj Komputer</a></li>
            <li> <a href="/koszyk/list"> Koszyk</a></li>
            <li><a href="/zamowienia/list"> Zamówienia</a></li>
            <th:block th:unless="${session.klientId==null}">
                <form th:action="@{/wylogowanie}" >
                    <input type="submit" value="Wyloguj sie" class="btn btn-red" />
                </form>
            </th:block>

            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>


        </ul>
    </div>
</div>
<h2>ZAREJESTRUJ SIE DO NASZEGO SERWISU</h2>
<form action="#" th:action="@{/rejestracja}" th:object="${klient}" method="post">
    <p>Nazwa użytkownika: <input type="text" th:field="*{username}" /></p>
    <p>Hasło: <input type="password" th:field="*{password}" /></p>
    <p>Imię: <input type="text" th:field="*{imie}" /></p>
    <p>Nazwisko: <input type="text" th:field="*{nazwisko}" /></p>
    <p>Adres: <input type="text" th:field="*{adres}" /></p>
    <p>Miasto: <input type="text" th:field="*{miasto}" /></p>
    <p>Nr karta kredytowa: <input type="number" th:field="*{nrKartaKredytowa}" /></p>
    <p><input type="submit" value="Zarejestruj sie" /> </p>
</form>

<div id="content_footer"></div>
<div id="footer">
    <p>Copyright &copy; PCMajster</a></p>
</div>
</div>


</body>
</html>